@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222;
  --primary: #EC1D24;
  --secondary: #E5E5E5;
}

.font-rubik-regular {
  font-family: var(--font-roboto);
  font-weight: 400;
}

.font-rubik-bold {
  font-family: var(--font-roboto-bold);
  font-weight: 700;
}
